html{ height:100%; }
body{ height:100%; margin:.5em auto; padding:0px; text-align: center; width:90%; background: #f7f9f6; }
#menu{ position: fixed; height: 60px; color:white; font-size: 3em; border:1px solid #5B756D; 
-moz-border-radius:20px; -webkit-border-radius:20px; khtml-border-radius:20px; border-radius:20px; z-index: 5; width:90%; margin:0px auto; text-align:center; }
a{ color: black; }
a.abox{ color: white; }
a.abox:hover{ text-decoration:underline; }
.abox{ vertical-align: top; }
#content{ padding:80px 0px 0px 0px; margin:0px auto; position: relative; width:90%;}
#map-box{ position: relative; height: 87%; padding: 80px 0px 0px 0px; text-align:justify; margin:0px auto; overflow:hidden;}
.charts_container{ text-align: center; width: 80%; margin: 10px auto; }
#content table { margin: 0 auto; }
.chart_container{ width: 400px; height: 400px; margin: 0px 25px; float: left; }
form button { width: 80%; height: 3em; margin: 2em; color:white; font:bold 1em sans-serif; 
border:1px solid #5B756D; -moz-border-radius:10px;-webkit-border-radius:10px;khtml-border-radius:10px;border-radius:10px; }
#vendor0{ color: #006CFF }
#vendor1{ color: #FF6600 }
#vendor2{ color: #34A038 }
#vendor3{ color: #945D59 }
#vendor4{ color: #93BBF4 }
#vendor5{ color: #F493B8 }
#vendor8{ color: #CCC }
#vendor7{ color: #f123cc }
#vendor6{ color: #e3e123 }
#vendor9{ color: red }
hr, #menu, .bg, form button { background-color: #8AB071; } /* Main green color */
h1 { color: #455839; }
.bg { color: #f7f9f6; }
td { border-left:1px solid #8AB071; border-right:1px solid #8AB071; padding:0 .25em; }
.vendors { font-size: 1.75em }
